.taskChecked {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 1.5rem;
    width: calc(46rem);
    background-color: var(--gray500);
    color: var(--gray100);
    border-radius: 0.5rem;
    border: 1px solid var(--gray400);
    transition: 0.5s all;
}

.taskNotChecked{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 1.5rem;
    width: calc(46rem);
    background-color: var(--gray500);
    color: var(--gray100);
    border-radius: 0.5rem;
    border: 1px solid var(--gray500);
    transition: 0.5s all;
}

.wrapper {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 1rem 1rem 1rem 1rem;
}

.main {
    display: flex;
    flex: 1;
    gap: 0.75rem;
    justify-content: space-between;
    align-items: center;
}

.circleButtonWrapper {
    display: flex;
}

.circleButtonWrapper input {
    opacity: 0%;
    width: 0px;
    height: 0px;
}

.circleButtonWrapper input[type=checkbox] + div {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    border-radius: 50%;
    background-color: var(--gray500);
    border: 1.5px solid var(--blue);
    height: 15.5px;
    width: 15.5px;
    transition: .5s all ease;
}

.circleButtonWrapper input[type=checkbox] + div:hover {
    background-color: var(--darkbluelowopacity);
    border-color: var(--darkblue);
    transition: .5s all ease;
}

.circleButtonWrapper input[type=checkbox]:checked + div {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    border-radius: 50%;
    background-color: var(--darkpurple);
    border: 1.5px solid var(--darkpurple);
    height: 15.5px;
    width: 15.5px;
    transition: .1s all ease;
    content: "";
    justify-content: center;
    align-items: center;
}
.circleButtonWrapper input[type=checkbox]:checked + div:hover {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    border-radius: 50%;
    background-color: var(--purple);
    border: 1.5px solid var(--purple);
    height: 15.5px;
    width: 15.5px;
    transition: .1s all ease;
    content: "";
    justify-content: center;
    align-items: center;
}

.contentChecked {
    flex: 1;
    text-decoration-color: var(--gray300);
    text-decoration: line-through;
    color: var(--gray300);
    transition: 0.5s all ease;
}

.contentNotChecked {
    flex: 1;
    text-decoration-color: transparent;
    text-decoration: transparent;
    color: var(--gray200);
    transition: 0.5s all ease;
}

.trashCanButton {
    display: flex;
    background-color: var(--gray500);
    border: none;
    color: var(--gray300);
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    margin-bottom: auto;
    width: 1.5rem;
    height: 1.5rem;
}

.trashCanButton:hover {
    color: var(--danger);
    background-color: var(--gray400);
    transition: color 0.1s;
    transition: background-color 0.1s;
}