.todo {
    margin-top: 0px;
    margin-left: 16px;
    margin-right: 16px;
    max-width: 738px;
    display: flex;
    flex-direction: column;
}

.forms {
    margin-top: -27px;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms textarea {
    background-color: var(--gray500);
    border-radius: 0.8rem;
    font-family: 'Inter', sans-serif;
    color: var(--gray200);
    border: 1px solid var(--gray700);
    flex: 1;
    font-size: 16px;
    height: 54px;
    line-height: 3.25;
    padding-left: 1.5rem;
    resize: none;
}

.forms textarea::placeholder {
    color: var(--gray300);
}

.forms textarea:focus-within {
    border: 1px solid var(--purple);
}

.forms button {
    gap: 0.5rem;
    display: flex;
    font-size: 0.875rem;
    align-items: center;
    justify-content: center;
    background-color: var(--darkblue);
    font-weight: bold;
    color: var(--gray200);
    border: none;
    border-radius: 0.5rem;
    width: 90px;
    height: 52px;
    transition: .5s all ease;
}

.forms button:hover {
    gap: 0.5rem;
    display: flex;
    font-size: 0.875rem;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    font-weight: bold;
    color: var(--gray200);
    border: none;
    border-radius: 0.5rem;
    height: 52px;
    transition: .5s all ease;
}

.countIsEmpty {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin: 4rem auto 0rem auto;
}

.countIsNotEmpty {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.allTasks {
    font-size: 14px;
    display: flex;
    gap: 0.5rem;
}

.allCreatedTasks div {
    background-color: var(--gray400);
}

.createdTasks {
    color: var(--blue);
}

.countNumber {
    padding: 0px 8px;
}

.count {
    border-radius: 10px;
    padding: 0px 0.75rem;
    background-color: var(--gray400);
    display: flex;
    justify-content: center;
    color: var(--gray200);
}

.doneTasks {
    color: var(--purple);
}

.empty {
    display: flex;
    width: 736px;
    align-items: center;
    border-top: 1px solid var(--gray400);
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem auto 4rem auto;
    padding-top: 4rem;
    color: var(--gray300);
}

.empty div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty div span {
    color: var(--gray300);
    display: block;
    font-size: 16px;
}

.spanStrong {
    font-weight: bold;
}

.tasks {
    margin-bottom: 4rem;
}